{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "indent": 0,
    "max-len": [1, 120],
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/consistent-type-assertions": 0,
    "@typescript-eslint/camelcase": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "no-empty": 0
  },
  "parser": "@typescript-eslint/parser"
}